configurator/tests
configurator/resources/database.db
configurator/__pycache__
configurator/.bk 
configurator/resources/database.db

phishing_site/resources/credentials.txt
phishing_site/__pycache__

