{% extends 'base.html' %}


{% block content %}
    <h1>{% block routing_list %} Connected Clients {% endblock %}</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Client MAC</th>
					<th>isConnected</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
				{% for client in clients %}
				<tr>
					<td>{{ client['client_id'] }}</td>
					<td>{{ client['is_connected'] }}</td>
					<td>{{ client['modified'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
