{% extends 'base.html' %}

{% block content %}
    <h1>{% block routing_list %} Routing {% endblock %}</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>IP</th>
					<th>URL</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
				{% for domain in domains %}
				<tr>
					<td>{{ domain['domain_ip'] }}</td>
					<td>{{ domain['domain_url'] }}</td>
					<td>{{ domain['modified'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
	<!-- update existing entry -->
	<h2>{% block routing_create %} Add New Domain IP Mapping {% endblock %}</h2>
	<form method="post">
		<div class="form-group">
			<label for="domain_ip">IP Address</label>
			<select id="domain_ip" name="domain_ip" class="form-select">
				{% for domain_ip in domain_ips %}
					<option value="{{ domain_ip['domain_ip'] }}">{{ domain_ip['domain_ip'] }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label for="domain_url">URL</label>
			<textarea name="domain_url" placeholder="Domain URL"
					class="form-control">{{ request.form['domain_url'] }}</textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Update</button>
		</div>
	</form>
{% endblock %}