{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Traffic Records {% endblock %}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Interface</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                {% for cell in record %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
